<!-- ============================================================== -->
<!-- Top Cards Start-->
<!-- ============================================================== -->
<app-cards-type1></app-cards-type1>
<!-- ============================================================== -->
<!-- Top Cards End-->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Sales chart Start-->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-12">
        <app-grpah-type1></app-grpah-type1>
    </div>

</div>
<!-- ============================================================== -->
<!-- Sales chart End-->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Table And Feed Start-->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-lg-7">
        <app-table-type1></app-table-type1>
    </div>
    <div class="col-lg-5">
        <app-feed-type1></app-feed-type1>
    </div>
</div>
<!-- ============================================================== -->
<!-- Table And Feed End-->
<!-- ============================================================== -->